/* line 1, ../sass/dla.sass */
.section {
  margin-left: 100px;
  margin-top: 20px;
}
/* line 4, ../sass/dla.sass */
.section div {
  display: inline-block;
}
/* line 7, ../sass/dla.sass */
.section div h5 {
  font-size: 16px;
  font-weight: 500px;
  color: #000;
}
/* line 12, ../sass/dla.sass */
.section div p {
  font-size: 14px;
}
/* line 15, ../sass/dla.sass */
.section div .wiecej3 {
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  width: 200px;
}
/* line 23, ../sass/dla.sass */
.section div .line2 {
  margin-left: 0;
  display: inline-block;
  border-bottom: 2px solid #7f7f7f;
  width: 50px;
  min-height: 15px;
  line-height: 0.1;
}
/* line 31, ../sass/dla.sass */
.section .zapraszamy {
  margin-left: 50%;
  transform: translateX(-50%);
}
/* line 35, ../sass/dla.sass */
.section .zapraszamy #zapraszamy {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-bottom: 0;
}
/* line 43, ../sass/dla.sass */
.section .zapraszamy .line3 {
  display: inline-block;
  border-bottom: 2px solid #7f7f7f;
  width: 110px;
  min-height: 15px;
  line-height: 0.1;
  margin-left: 60px;
  margin-top: 0;
}
