/* line 1, ../sass/header.sass */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* line 4, ../sass/header.sass */
body header {
  height: 800px;
  background-image: url(../img/back.png);
}
/* line 10, ../sass/header.sass */
body header .logo {
  margin: 42px 0 0 220px;
  width: 126px;
  height: 64px;
  float: left;
  z-index: 3;
}
/* line 18, ../sass/header.sass */
body header nav {
  margin: 70px 200px 0 0;
  float: right;
  z-index: 3;
}
/* line 20, ../sass/header.sass */
body header nav a {
  display: inline-block;
  margin-left: 70px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
/* line 35, ../sass/header.sass */
body header nav .active {
  border-bottom: 2px solid #fff;
  padding: 0px 7px 7px 7px;
  z-index: 3;
}
/* line 40, ../sass/header.sass */
body header h1 {
  text-align: center;
  color: #fff;
  font-size: 60px;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
  padding-top: 340px;
  z-index: 3;
  clear: both;
}
/* line 53, ../sass/header.sass */
body header a button {
  color: #fff;
  background: #000;
  border: 1px solid transparent;
  padding: 18px 42px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin-left: 625px;
  z-index: 3;
}
/* line 64, ../sass/header.sass */
body header a button:hover {
  color: #646464;
}
