/* line 1, ../sass/jest.sass */
div {
  margin-left: 100px;
  margin-top: 20px;
}
/* line 6, ../sass/jest.sass */
div div {
  color: #646464;
}
/* line 9, ../sass/jest.sass */
div div .line {
  margin-left: 0;
  display: inline-block;
  border-bottom: 2px solid #7f7f7f;
  width: 165px;
  min-height: 15px;
  line-height: 0.1;
}
/* line 17, ../sass/jest.sass */
div div h3 {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  margin-left: 20px;
  padding-top: 10px;
}
/* line 26, ../sass/jest.sass */
div div #dostawca {
  font-size: 18px;
  margin-top: -10px;
  width: 510px;
}
/* line 33, ../sass/jest.sass */
div div h4 {
  padding-top: 20px;
  font-weight: medium;
  font-size: 24px;
  color: #000;
  line-height: 1;
}
/* line 41, ../sass/jest.sass */
div div #nawet {
  margin-top: -25px;
  color: #000;
  line-height: 1.5;
  font-size: 18px;
}
/* line 48, ../sass/jest.sass */
div div p {
  display: block;
  width: 420px;
  line-height: 1.8;
}
/* line 52, ../sass/jest.sass */
div div #ar_1 {
  float: right;
  margin: -430px 80px 0 0px;
}
/* line 56, ../sass/jest.sass */
div div #wiecej {
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
  width: 185px;
}
/* line 67, ../sass/jest.sass */
div div #str {
  margin-left: -240px;
}
