/* line 1, ../sass/local.sass */
.local {
  margin-left: 100px;
  margin-top: 50px;
}
/* line 5, ../sass/local.sass */
.local div {
  display: inline-block;
}
/* line 8, ../sass/local.sass */
.local div h2 {
  text-transform: uppercase;
  color: #000;
  line-height: 0;
}
/* line 17, ../sass/local.sass */
.local div .biuro {
  margin-bottom: 40px;
}
/* line 21, ../sass/local.sass */
.local div ul {
  padding-left: 0;
}
/* line 23, ../sass/local.sass */
.local div ul li {
  list-style-type: none;
}
/* line 26, ../sass/local.sass */
.local div #loc {
  z-index: 4;
}
/* line 29, ../sass/local.sass */
.local div #mapa {
  width: 600;
  height: 450;
}
