/* line 1, ../sass/produkty.sass */
div {
  margin-left: 100px;
  margin-top: 20px;
}
/* line 5, ../sass/produkty.sass */
div div a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  padding-left: 10px;
}
/* line 13, ../sass/produkty.sass */
div div .active2 {
  border-bottom: 1px solid #000;
  padding: 0 6px 2px 6px;
}
/* line 17, ../sass/produkty.sass */
div #gallery {
  margin-top: 20px;
}
/* line 19, ../sass/produkty.sass */
div #gallery img {
  width: 340px;
  height: 301px;
}
/* line 24, ../sass/produkty.sass */
div #wiecej2 {
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
  margin-left: 850px;
  width: 140px;
}
