/* line 1, ../sass/header.sass */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* line 4, ../sass/header.sass */
body header {
  height: 800px;
  background-image: url(../img/back.png);
}
/* line 10, ../sass/header.sass */
body header .logo {
  margin: 42px 0 0 220px;
  width: 126px;
  height: 64px;
  float: left;
  z-index: 3;
}
/* line 18, ../sass/header.sass */
body header nav {
  margin: 70px 200px 0 0;
  float: right;
  z-index: 3;
}
/* line 20, ../sass/header.sass */
body header nav a {
  display: inline-block;
  margin-left: 70px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
/* line 35, ../sass/header.sass */
body header nav .active {
  border-bottom: 2px solid #fff;
  padding: 0px 7px 7px 7px;
  z-index: 3;
}
/* line 40, ../sass/header.sass */
body header h1 {
  text-align: center;
  color: #fff;
  font-size: 60px;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
  padding-top: 340px;
  z-index: 3;
  clear: both;
}
/* line 53, ../sass/header.sass */
body header a button {
  color: #fff;
  background: #000;
  border: 1px solid transparent;
  padding: 18px 42px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin-left: 625px;
  z-index: 3;
}
/* line 64, ../sass/header.sass */
body header a button:hover {
  color: #646464;
}

/*footer
 * background: black
 * display: inline-block
 * width: 100%
 * height: 70px
 * p
 * 	padding: 0 230px 0 230px
 * 	color: #fff
 * 	text-align: center
 * .rights
 * 	float: left
 * .created
 * 	float: right */
/* line 1, ../sass/jest.sass */
div {
  margin-left: 100px;
  margin-top: 20px;
}
/* line 6, ../sass/jest.sass */
div div {
  color: #646464;
}
/* line 9, ../sass/jest.sass */
div div .line {
  margin-left: 0;
  display: inline-block;
  border-bottom: 2px solid #7f7f7f;
  width: 165px;
  min-height: 15px;
  line-height: 0.1;
}
/* line 17, ../sass/jest.sass */
div div h3 {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  margin-left: 20px;
  padding-top: 10px;
}
/* line 26, ../sass/jest.sass */
div div #dostawca {
  font-size: 18px;
  margin-top: -10px;
  width: 510px;
}
/* line 33, ../sass/jest.sass */
div div h4 {
  padding-top: 20px;
  font-weight: medium;
  font-size: 24px;
  color: #000;
  line-height: 1;
}
/* line 41, ../sass/jest.sass */
div div #nawet {
  margin-top: -25px;
  color: #000;
  line-height: 1.5;
  font-size: 18px;
}
/* line 48, ../sass/jest.sass */
div div p {
  display: block;
  width: 420px;
  line-height: 1.8;
}
/* line 52, ../sass/jest.sass */
div div #ar_1 {
  float: right;
  margin: -430px 80px 0 0px;
}
/* line 56, ../sass/jest.sass */
div div #wiecej {
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
  width: 185px;
}
/* line 67, ../sass/jest.sass */
div div #str {
  margin-left: -240px;
}

/* line 1, ../sass/produkty.sass */
div {
  margin-left: 100px;
  margin-top: 20px;
}
/* line 5, ../sass/produkty.sass */
div div a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  padding-left: 10px;
}
/* line 13, ../sass/produkty.sass */
div div .active2 {
  border-bottom: 1px solid #000;
  padding: 0 6px 2px 6px;
}
/* line 17, ../sass/produkty.sass */
div #gallery {
  margin-top: 20px;
}
/* line 19, ../sass/produkty.sass */
div #gallery img {
  width: 340px;
  height: 301px;
}
/* line 24, ../sass/produkty.sass */
div #wiecej2 {
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
  margin-left: 850px;
  width: 140px;
}

/* line 1, ../sass/dla.sass */
.section {
  margin-left: 100px;
  margin-top: 20px;
}
/* line 4, ../sass/dla.sass */
.section div {
  display: inline-block;
}
/* line 7, ../sass/dla.sass */
.section div h5 {
  font-size: 16px;
  font-weight: 500px;
  color: #000;
}
/* line 12, ../sass/dla.sass */
.section div p {
  font-size: 14px;
}
/* line 15, ../sass/dla.sass */
.section div .wiecej3 {
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  width: 200px;
}
/* line 23, ../sass/dla.sass */
.section div .line2 {
  margin-left: 0;
  display: inline-block;
  border-bottom: 2px solid #7f7f7f;
  width: 50px;
  min-height: 15px;
  line-height: 0.1;
}
/* line 31, ../sass/dla.sass */
.section .zapraszamy {
  margin-left: 50%;
  transform: translateX(-50%);
}
/* line 35, ../sass/dla.sass */
.section .zapraszamy #zapraszamy {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-bottom: 0;
}
/* line 43, ../sass/dla.sass */
.section .zapraszamy .line3 {
  display: inline-block;
  border-bottom: 2px solid #7f7f7f;
  width: 110px;
  min-height: 15px;
  line-height: 0.1;
  margin-left: 60px;
  margin-top: 0;
}

/* line 1, ../sass/local.sass */
.local {
  margin-left: 100px;
  margin-top: 50px;
}
/* line 5, ../sass/local.sass */
.local div {
  display: inline-block;
}
/* line 8, ../sass/local.sass */
.local div h2 {
  text-transform: uppercase;
  color: #000;
  line-height: 0;
}
/* line 17, ../sass/local.sass */
.local div .biuro {
  margin-bottom: 40px;
}
/* line 21, ../sass/local.sass */
.local div ul {
  padding-left: 0;
}
/* line 23, ../sass/local.sass */
.local div ul li {
  list-style-type: none;
}
/* line 26, ../sass/local.sass */
.local div #loc {
  z-index: 4;
}
/* line 29, ../sass/local.sass */
.local div #mapa {
  width: 600;
  height: 450;
}
