.section
	margin-left: 100px
	margin-top: 20px
	div
		display: inline-block

		h5
			font:
				size: 16px
				weight: 500px
			color: #000
		p
			font: 
				size: 14px
		.wiecej3
			display: inline-block
			text-transform: uppercase
			color: #000
			font:
				weight: 600
				size: 16px
			width: 200px
		.line2
			margin-left: 0
			display: inline-block
			border-bottom: 2px solid #7f7f7f
			width: 50px
			min-height: 15px
			line-height: 0.1
	
	.zapraszamy
		margin-left: 50%
		transform: translateX(-50%)

		#zapraszamy
			font: 
				size: 16px
				weight: 600
			
			color: #000
			margin-bottom: 0
			
		.line3
			display: inline-block
			border-bottom: 2px solid #7f7f7f
			width: 110px
			min-height: 15px
			line-height: 0.1
			margin:
				left: 60px
				top: 0