/*footer
	background: black
	display: inline-block
	width: 100%
	height: 70px
	p
		padding: 0 230px 0 230px
		color: #fff
		text-align: center
	.rights
		float: left
	.created
		float: right*/
		


				
