body
	margin: 0
	font-family: 'Poppins', sans-serif
	header
		height: 800px
		background-image: url(../img/back.png)
		


		.logo
			margin: 42px 0 0 220px
			width: 126px
			height: 64px
			float: left
			z-index: 3


		nav
			margin: 70px 200px 0 0
			a
				display: inline-block
				margin-left: 70px
				color: #fff
				text-transform: uppercase
				text-decoration: none
				text-align: center

				font:
					size: 18px
					weight: 600
					
			float: right
			z-index: 3
			
			.active
				border-bottom: 2px solid #fff
				padding: 0px 7px 7px 7px
				z-index: 3

		h1
			text-align: center
			color: #fff
			font:
				size: 60px
				weight: 100
				family: 'Poppins', sans-serif
			padding-top: 340px
			z-index: 3
			clear: both


		a
			button
				color: #fff
				background: #000
				border: 1px solid transparent
				padding: 18px 42px
				font:
					size: 16px
					family: 'Poppins', sans-serif
				text-transform: uppercase
				margin-left: 625px
				z-index: 3
			button:hover
				color: #646464
			









		



