div
	margin-left: 100px
	margin-top: 20px
	

	div
		color: #646464

		.line
			margin-left: 0
			display: inline-block
			border-bottom: 2px solid #7f7f7f
			width: 165px
			min-height: 15px
			line-height: 0.1

		h3
			display: inline-block
			text-transform: uppercase
			font:
				weight: 600
			color: #000
			margin-left: 20px
			padding-top: 10px

		#dostawca
			font:
				size: 18px
			margin-top: -10px
			width: 510px


		h4
			padding-top: 20px
			font:
				weight: medium
				size: 24px
			color: #000
			line-height: 1

		#nawet
			margin-top: -25px
			color: #000
			line-height: 1.5
			font:
				size: 18px

		p
			display: block
			width: 420px
			line-height: 1.8
		#ar_1
			float: right
			margin: -430px 80px 0 0px
		
		#wiecej
			display: inline-block
			text-transform: uppercase
			color: #000
			font:
				weight: 600
				size: 16px
			margin-top: 30px
			width: 185px

		a		
		#str
			margin-left: -240px
			

		

