.local
	margin-left: 100px
	margin-top: 50px

	div
		display: inline-block

		h2
			text-transform: uppercase
			color: #000
			line-height: 0



		

		.biuro
			margin-bottom: 40px


		ul
			padding-left: 0
			li
				list-style-type: none

		#loc
			z-index: 4

		#mapa
			width: 600 
			height: 450
