div
	margin-left: 100px
	margin-top: 20px
	div
		a
			text-decoration: none
			font:
				size: 14px
				weight: 500
			color: #000
			padding:
				left: 10px
		.active2
			border-bottom: 1px solid #000
			padding: 0 6px 2px 6px

	#gallery
		margin-top: 20px
		img

			width: 340px
			height: 301px

	#wiecej2
		display: inline-block
		text-transform: uppercase
		color: #000
		font:
			weight: 600
			size: 16px
		margin:
			top: 30px
			left: 850px
		width: 140px


			
			
